/*CSS Custom Properties*/
:root {
  --color-one: 15, 163, 177;
  --color-two: 181, 226, 250;
  --color-three: 249, 247, 243;
  --color-four: 237, 222, 164;
  --color-five: 247, 160, 114;
}

/*General Styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

/*Header*/
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(var(--color-three));
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .15);
}

.container {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.index {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.logo {
  padding-top: 10px;
  font-family: megascope-variable, sans-serif;
  font-weight: 500;
  font-variation-settings: "SCOP" 20;
  font-size: 50px;
}

.search {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 500px;
}

.searchbar {
  flex: 1;
  height: 30px;
  border-radius: 10px;
  border: 0.5px solid black;
  outline: none;
  padding: 0 10px;
  font-family: baskerville, sans-serif;
  font-size: 15px;
  transition: border 0.2s;
}

.searchbar:focus {
 border: 2px solid rgb(var(--color-one));
}

nav {
  display: flex;
  gap: 30px;
}

header button {
  height: 80px;
  color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
  padding: .5em 1em;
  border: none;
  font-family: brevia, sans-serif;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  transition: border-bottom 0.2s;
}

header button:hover {
  border-bottom: 4px solid rgb(var(--color-one));
}

/*Window*/
.window {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.window-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(0px);
}

.window-title {
  font-family: active, sans-serif;
  font-size: 80px;
  color: white;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*Story*/

.story {
  height: 400px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.story-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.story-title {
  margin: 20px 0px;
  font-family: brevia, sans-serif;
  font-size: 40px;

}

.story-content {
  text-align: center;
  max-width: 500px;
  font-family: baskerville, sans-serif;
  font-size: 17px;
}

/*Influences*/

.influences-title {
  font-family: brevia, sans-serif;
  font-size: 40px;
  margin: 0 0 100px 0;
  text-align: center;
}

/*Card*/

.card {
  height: 800px;
  margin: 70px 0;
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  flex: 1;
  background-color: lightblue;
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.influence-content {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.influence-title {
  font-family: brevia, sans-serif;
  font-size: 35px;
  margin: 0 0 5px 0;
}

.influence-dish {
  margin: 5px 0 20px 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: baskerville, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.influence-description {
  margin: 20px 0 20px 0;
  font-family: baskerville, sans-serif;
}

.influence-version {
  padding: 1em 2em;
  border: 1px solid black;
  border-radius: 5px;
  align-self: center;
  color: white;
  background-color: rgb(var(--color-five), 1);
  font-family: brevia, sans-serif;
  font-weight: bold;
  font-size: 17px;
}